{% extends 'base.html.twig' %}

{% block body %}

         <header class="masthead" style="background-image: url('{{asset('images/street.jpg')}}')">
            <div class="container">
                <div class="masthead-subheading">Sapes Avenue BackOffice</div>
                <a class="btn btn-success btn-xl text-uppercase center" href="{{ path('app_login') }}">Connexion</a>
            </div>
        </header>
        
{% endblock %} 