{% extends 'base.html.twig' %}

{% block body %}

Bienvenue sur le BackOffice de Sapes Avenue


                          
                              <a class=" btn btn-success" href="{{ path('app_login') }}">Connexion</a>
                          

{% endblock %} 