{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <div class="container">
    <a href="{{ path('app_category_index') }}" class=" btn btn-secondary mt-1 ">Retour</a>
    </div>
{% endblock %}
