{% extends 'base.html.twig' %}

{% block title %}Nouvelle utiisateur{% endblock %}

{% block body %}
    <h1>AJouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
